@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
    font-size: 16px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    justify-content: center;
}
.row.darkblue {
    background-color:#202A37;
    color: #FFF;
}
.row.grey {
    background-color:#E5E7EB ;
}
button {
    background-color: #3B82F6;
    color: #FFF;
    padding: .5em 2em;
    border: none;
    border-radius: .5em;
}
header, .container {
    max-width: 56.25em;
    width: 100%;
    display: flex;
}
.container {
    padding: 3em 0;
}
header {
    justify-content: space-between;
    padding: 1em 0;
}
.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 1.2em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:1em;
}
nav li a {
    text-decoration: none;
    color: #D3D6DA;
}
nav li a:hover {
    text-decoration: underline;
}
.header-container {
    gap:2em;
}
.header-text, .header-image {
    flex: 1;
    margin-bottom: 3em;
}
.header-text h1 {
    margin: 0;
    font-size: 2.5em;
}
.header-image .image {
    background-color: #6D747D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.container.information {
    flex-direction: column;
    align-items: center;
}
.container.information h2 {
    margin: 0 0 1.5em;
    font-size: 1.75em;
}
.item-container {
    display: flex;
    gap: 3em;
    margin: 0 0 3em;
}
.item {
    max-width: 10em;
    text-align: center;
}   
.item .image {
    width: 10em;
    height: 10em;
    margin: 0 0 1em;
    border-radius: 1em;
    border:.25em #3B82F6 solid
}
.container.quotes {
    flex-direction: column;
    margin:3em;
    max-width: 45em;
}
.quote {
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
}
.author {
    font-size: 1.2em;
    text-align: right;
    font-weight: 700;
}